@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --font-primary: 'Baloo Da 2', serif;
    --font-secondary: 'Josefin Slab', serif;
    --fot-action: 'Muli', serif;
}


body {
    font-size: 16px;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/*
**********                 menu hamburguer               ***********
*/

#hamburguer {
    width: 2rem;
    height: 2rem;
    position: fixed;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    z-index: 100;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 1s;
}

.active #hamburguer {
    right: 16rem;
}

.line {
    width: 100%;
    height: .1rem;
    background-color: #ffffff;
    box-shadow: .1rem 0.1rem 1px #000;
}

.active #line1 {
    transform: rotate(135deg) translate(.6rem);
}

.active #line2 {
    visibility: hidden;
}

.active #line3 {
    transform: rotate(-135deg) translate(.7rem);
}


/*
**************             Side bar                ***************
*/
#sidebar {
    width: 20rem;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 0.9s;
}

.active #sidebar {
    right: 0;
}


/*
**********    Menu de Navegação *************
*/
#menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    text-align: center;
    margin-bottom: 2rem;
}

.menu-link {
    font-family: var(--fot-action);
    font-size: 2rem;
    color: #555;
}

.menu-link:hover {
    color: #4CA1AF;
}


/*
***********     Barra de mídia social         ************
*/

.social-midia {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-midia i {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4CA1AF;
}

.social-midia i:hover {
    animation: social 0.3s forwards;
}

@keyframes social {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
}


/*
************     img de background para o header          *******************
*/

.img-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    animation: imgHeader 2s;
}
/*Photo by <a href="https://unsplash.com/@afgprogrammer?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Mohammad Rahmani</a> on <a href="https://unsplash.com/s/photos/developer?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>*/

@keyframes imgHeader {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}


/*
***********          Banner introdutório         **************
*/
.banner {
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1 {
    color: #ffffff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, .4);
    line-height: 3rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.banner p {
    font-family: var(--font-secondary);
    color: #7FFFD4;
    font-size: 2rem;
    text-shadow: .2rem .2rem  rgba(0, 0, 0, .4);
    margin-bottom: 1rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner button {
    border-radius: 7px;
    cursor: pointer;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background: #4CA1AF;
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);
    background: linear-gradient(to right, #C4E0E5, #4CA1AF);
    padding: 1rem 0;
    border: 0px;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;     
}

.banner a {
    color: rgba(0, 0, 0, .8);
    font-family: var(--fot-action);
    font-size: 1.2rem;
    padding: 1rem 3rem;
}

.banner button:hover {
    background: #4CA1AF;
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);
    background: linear-gradient(to left, #C4E0E5, #4CA1AF);
}

@keyframes moveBanner {
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}


/*
***********         Section conhecimento          ****************
*/
.sessao-conhecimentos {
    background-color: #d3d0d0;
}

.sessao-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.sessao-header h1 {
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #2c6068;
    border-bottom: solid 3px;
    margin-bottom: 1.5rem;
}


.conhecimentos {
    display: grid;
    grid-template-columns: repeat(16 , 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: .5rem;
}

.conhecimento:nth-child(1) {
    grid-column: 4/7;
    grid-row: 1/3;
}

.conhecimento:nth-child(2) {
    grid-column: 3/6;
    grid-row: 3/5;
}

.conhecimento:nth-child(3) {
    grid-column: 4/7;
    grid-row: 5/-1;
}

.conhecimento:nth-child(4) {
    grid-column: 11/14;
    grid-row: 1/3;
}

.conhecimento:nth-child(5) {
    grid-column: 12/15;
    grid-row: 3/5;
}

.conhecimento:nth-child(6) {
    grid-column: 11/14;
    grid-row: 5/-1;
}

.conhecimento-header {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.747);

}

.conhecimento-header i {
    font-size: 2.5rem;
}

.conhecimento-header h3 {
    font-family: var(--font-secondary);
    font-size: 2rem;
    padding-left: 1rem;
}

.conhecimento-text {
    font-family: var(--font-secondary);
    margin-top: 1rem;
    text-align: justify;
}

/*
*********************                Projetos                  *****************8
*/

.sessao-projeto {
    width: 100%;
    height: 100vh;
    background-color: #343434;
}

.conteudo-projetos {
    display: flex;
    justify-content: space-evenly;
}


.img-projeto{
    width: 20rem;
    height: 30rem;

}

.img-projeto img {
    width: 100%;
    border-radius: 0.5rem;
}

.img-projeto img {
    width: 100%;
    height: 80vh;
    
}

.img-projeto img:hover {
    animation: imgProjeto forwards;
}

@keyframes imgProjeto {
    100% {
        transform: scale(1.1);
    }
}
/*
*********************                Contatos                  *****************8
*/

.sessao-contato {
    width: 100%;
    height: 100vh;
    background-color: #d3d0d0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.8);
}

.contato-wrapper {
    width: 65%;
    display: flex;
    height: 35rem;
    
}

.contato-right {
    width: 100%;
    background-color: #ffffff;
    padding: 3rem 3rem 4rem 4rem;
}

.sessao-contato h1 {
    font-family: var(--font-primary);
    color: #272727;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: lighter;
}

.sessao-contato form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    position: relative;
}

.field {
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5rem;
    font-family: var(--font-secondary);
    border-bottom: .2rem dashed #636363;
    height: 3rem;
    outline: none;
    margin: 2rem 0;
}

.input-group textarea{
    padding-top: 1rem;
    max-width: 25rem;
    max-height: 3rem;
}

.field-label {
    position: absolute;
    left: 0;
    top: 4rem;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    transition: all 0.3s;
}

.field:focus ~ label {
    top: 0;
    font-size: 1rem;
}

.field:focus {
    border-bottom: 2px solid;
}

.btn-submit {
    text-transform: uppercase;
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
}

.btn {
    background: #4CA1AF;
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);
    background: linear-gradient(to right, #C4E0E5, #4CA1AF);
    font-family: var(--fot-action);
    color: #000000e7;
    border-radius: 5rem;
    border: none;
    box-shadow: 0 0.1rem 8rem rgba(0, 0, 0, .4);
    cursor: pointer;
}

    
    
    
    









/*
***************          sobre mim                 ********************
*/

#sobre {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    background-color: #464545;
}

#sobre-wrapp {
    padding: 2rem;
    background: #f1efef;
    width: 70%;
}

#sobre-header {
    color: #2c6068;
    display: flex;
    font-family: var(--font-primary);
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid purple;
}

#sobre-text {
    font-family: var(--font-secondary);
    color: #000;
    text-align: justify;
    padding-top: 2rem;
}




/*
*****************        mídia responsiva           ******************
*/

@media (max-width: 450px) {
    * {
        font-size: 13px;
    }

    .conhecimentos {
        display: flex;
        flex-direction: column;
        padding: 1rem 5rem;
        justify-content: center;
    }

    .conhecimento:nth-child(n+2) {
        box-sizing: border-box;
        padding-top: 3rem;
    }

    .sessao-contato {
        box-sizing: border-box;
        justify-content: normal;
        align-items: center;
        padding-top: 5rem;
        box-shadow: none;
    }

    .contato-wrapper {
        padding-left: 1.2rem;
    }

    .sessao-projeto {
        box-sizing: border-box;
    }
    .conteudo-projetos {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: none;
    }

    .card-projeto {
        padding-top: 5rem ;
    }

}